body {
  font-family: "Pretendard", sans-serif;
  background: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 375px;
  height: 812px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 헤더 */
.header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: auto;
}

/* 프로필 카드 */
.profile-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.profile-info {
  flex: 1;
}

.name {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 4px;
}

.gender {
  font-weight: normal;
  margin-left: 2px;
}

.owner {
  color: #aaa;
  font-weight: normal;
  font-size: 14px;
  margin-left: 4px;
}

.details {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #444;
}

.details li {
  margin-bottom: 4px;
}

.details span {
  color: #888;
  margin-right: 4px;
}

.dog_info {
  display: flex;
  align-items: center;
  width: auto;
  height: 130px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
  margin: 20px 20px;
}

.dog_img{
  width: 112px;
  height: 112px;
  border-radius: 56px;
  object-fit: cover;
  margin: 9px 12px 9px 12px;
}

.dog_text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #444;
}

.dog_name {
  font-size: 24px;
  margin-bottom: 8px;
  border-bottom: 1px solid #dddddd;
}

.guardian_name{
  display:inline-block;
  font-size: 16px;
  margin-left: 4px;
  margin-bottom: 4px;
  color: #888888;
}

img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  padding-top: 2px;
}