.walk-history {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  width: 300px;
  height: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
  margin-left: 18px;
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin-top: 0;
  margin-bottom: 4px;
}

.history-card {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border: 1px solid #eee;
  border-radius: 16px;
  padding: 4px 7px 9px 7px;
  flex-shrink: 0;
  cursor: pointer;
}

.route-image {
  height: 80px;
  width: 100%;
  border-radius: 12px;
  object-fit:contain;
}

.info-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.date {
  font-weight: 600;
}

.minutes {
  font-weight: 700;
  color: #e58c58; /* 주황색 */
}

.history-list {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.history-list::-webkit-scrollbar {
  display: none;
}