.container {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 375px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 헤더 & 탭 */
.r_header {
  padding: 16px;
  padding-top: 0;
}

.tabs {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.tab {
  color: #cbd5e1;
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.tab.active {
  color: black;
  font-weight: 600;
}

.tab-underline {
  display: none;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -5px;
}

.active .tab-underline {
  display: block;
}

/* Top3 영역 */
.top3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin: 24px 0;
  padding: 20px 0;
}

.rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 4px;
}

/* 아바타 */
.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.me-indicator {
  width: 4px;
  height: 50px;
  background-color: #219aff;
  border-radius: 5px;
  position: absolute;
  left: -10px;
}

.rank_number {
  font-size: 14px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #7bb6ff;
  display: grid;
  place-items: center;
  background: #f5f9ff;
}

.info .avatar {
  width: 50px;
  height: 50px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 배지 */
.badge {
  position: absolute;
  right: 5px;
  bottom: 95px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-1 {
  background-color: #f97316; /* 주황색 */
  right: -7px;
}

.badge-2 {
  background-color: #f97316; /* 파랑 */
}

.badge-3 {
  background-color: #f97316; /* 회색 */
}

/* 리스트 */
.list {
  border: 1px solid #e6eef9;
  border-radius: 12px;
  margin: 0 16px 16px;
  overflow-y: auto;
  flex-grow: 1;
  background: #fff;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #ccc;
}

.list-item.me:first-child {
  border-bottom: 1.5px solid #5AAAEF;
  background-color: #eff8ff;
  position: sticky;
  z-index: 1;
  top: 0;
}

.list-item:last-child {
  border-bottom: none;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-text .name {
  font-size: 14px;
  font-weight: 500;
}

.info-text .meta {
  font-size: 12px;
  color: #94a3b8;
}

.value {
  color: #165cf6;
  font-size: 14px;
  font-weight: 500;
}
